
h1
{
color: black;
font-weight:bold;
font-size:50px;
text-align:center;
background-color:#E89E00;
}
.gallery
{
margin: 20px 10px;
}

.gallery img
{
width: 350px;
padding: 10px;
filter: grayscale(90%);
transition: 1s;
border-radius: 20px;
float: left;
white-space: 12%;
}
.gallery img:hover
{
filter: grayscale(0);
transform: scale(1.6);
}
.gallery h3 {
  font-size: 18px;
  line-height: 8px;
  float: left;
}
